<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Home Page</title>
</head>

<body>
    <%- include('./partials/nav') %>

    <h2 style="text-align: center;"><%= blog.title %></h2>
    
    <img src="<%= blog.coverImageUrl %>" style="display: block; margin: auto;" width="700px" height="400px" alt="">

    <p style="margin-left: 4vw;"><%= blog.body %></p>

    <%- include('./partials/scripts') %>
</body>

</html>
