<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Home Page</title>
</head>

<body>
    <%- include('./partials/nav') %>
        <% if (locals.user) { %>
            <div class="container mt-4">
                <div class="row row-cols-3">
                    <% blogs.forEach(blog=> { %>
                        <div class="cols mt-2">
                            <div class="card cols" style="width: max-content;">
                                <img src="<%= blog.coverImageUrl %>" width="400px" height="200px" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title text-center">
                                        <%= blog.title %>
                                    </h5>
                                    <a href="/blog/<%= blog._id %>" class="mx-auto d-block w-50 btn btn-primary">Expoler Card</a>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
            <% } %>
                <%- include('./partials/scripts') %>
</body>

</html>